<app-header title="Students"></app-header>
@if (loading()) {
<p>Loading ...</p>
} @else {
<button nz-button (click)="showAddStudentModal()" nzType="primary" class="add-btn">Add Student</button>
@if (students().length !=0) {
<nz-table #basicTable nzBordered [nzData]="students()" [nzFrontPagination]="false">
    <thead>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Group</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @for (student of students(); track student.createdAt) {
        <tr>
            <td>{{student.firstName}}</td>
            <td>{{student.lastName}}</td>
            <td>{{student.group}}</td>
            <td>
                <a (click)="showUpdateStudentModal(student)">Edit</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a nz-popconfirm nzPopconfirmTitle="Sure to delete?"
                    (nzOnConfirm)="deleteStudent(student.id)">Delete</a>
            </td>
        </tr>
    }
</tbody>
</nz-table>
} @else {
    <h4 nz-typography>Students list is empty!</h4>
}
}

<app-add-student-modal [isVisible]="isShowAddStudentModal" (visibleChanged)="isShowAddStudentModal = $event" />
<app-edit-student-modal [isVisible]="isShowUpdateStudentModal" (visibleChanged)="isShowUpdateStudentModal = $event" />