<app-header title="Students List"></app-header>
@if (loading()) {
<p>Loading ...</p>
} @else {
<button nz-button (click)="showStudentModal({action: 'add', student: null})" nzType="primary" class="add-btn">Add
    Student</button>
@if (students().length !=0) {
<nz-table #basicTable nzBordered [nzData]="students()" [nzFrontPagination]="false">
    <thead>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Group</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @for (student of students(); track student.createdAt) {
        <tr>
            <td>{{student.firstName}}</td>
            <td>{{student.lastName}}</td>
            <td>{{student.group}}</td>
            <td>
                <a (click)="showStudentModal({action: 'edit', student})">Edit</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a nz-popconfirm nzPopconfirmTitle="Sure to delete?"
                    (nzOnConfirm)="deleteStudent(student.id)">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</nz-table>
} @else {
<h4 nz-typography>Students list is empty!</h4>
}}

<app-student-modal [isVisible]="isShowStudentModal" [action]="actionModal()" (visibleChanged)="isShowStudentModal = $event" />